#Prac1: Database and cache
pr1_1/src/spot_data.dat
pr1_1/src/__pycache__
pr1_1/doc/build

pr1_2/src/spot_data.dat
pr1_2/src/spot_data.test.dat
pr1_2/src/__pycache__
pr1_2/doc/build

pr5/__pycache__
pr5/backups
pr5/contacts.db